---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
{% set maxPosts = collections.posts.length | min(3) %}
  <section class="site-logo">
    <img src="/img/logo.png" alt="Le journal de Luma"/>
  </section>

{% set postslist = collections.posts | head(-10) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>Voir plus de posts dans <a href="{{ '/posts/' | url }}">l'archive</a>.</p>
