---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Tagué "{{ tag }}"
permalink: /tags/{{ tag | slugify }}/
---
<h1>Tagué "{{ tag }}"</h1>

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}

<p>Voir <a href="{{ '/tags/' | url }}">tous les tags</a>.</p>
